<%- contentFor('style') %>
<link rel="stylesheet" type="text/css" href="/stylesheets/gallery.css" />

<%- contentFor('main') %>
<div class="main-wrapper">
  <aside>
    <div class="filters-header"></div>
    <div class="filters-container">
      <h3>Filtros</h3>
      <div class="filters">
        <div class="filter">
          <span>Gênero</span>
          <i class="fas fa-chevron-down"></i>
        </div>
        <div class="filter">
          <span>Tipos de Mídia</span>
          <i class="fas fa-chevron-down"></i>
        </div>
        <div class="filter">
          <span>Data de Lançamento</span>
          <i class="fas fa-chevron-down"></i>
        </div>
        <div class="filter">
          <span>Idioma</span>
          <i class="fas fa-chevron-down"></i>
        </div>
        <div class="filter">
          <span>Avaliação</span>
          <i class="fas fa-chevron-down"></i>
        </div>
      </div>
      <div class="filter-button-wrapper">
        <button type="submit" value="Submit">Aplicar</button>
      </div>
    </div>
  </aside>
  <div class="content">
    <div class="content-header">
      <span><%= titles.length %> resultados encontrados</span>
      <select name="cars" id="cars">
        <option value="a-z">Título A-Z</option>
        <option value="z-a">Título Z-A</option>
        <option value="avaliation">Avaliação</option>
        <option value="release">Lançamento</option>
      </select>
    </div>

    <% for(var i=0; i < titles.length; i++) { %>
    <div class="content-movies">
      <div class="movie-container">
        <div class="movie-photo">
          <img
            alt="Capa <%= titles[i].title %>"
            src="<%= titles[i].poster_path %>"
          />
        </div>
        <div class="movie-content">
          <h3><%= titles[i].title %></h3>
          <span><%= titles[i].release_date %></span>
          <p><%= titles[i].description %></p>
        </div>
      </div>
    </div>
    <% } %>
    <div class="content-pagination">
      <span class="first">1</span>
      <span>2</span>
      <span>3</span>
      <span>4</span>
      <span>5</span>
      <span>...</span>
      <span>236</span>
      <span>237</span>
      <span>238</span>
      <span>Próxima -></span>
    </div>
  </div>
</div>
