<!DOCTYPE html>
<html lang="pt-BR" class="common">
  <head>
    <meta charset="utf-8" />
    <title>M3D | <%= title %></title>
    <%# Insere as tags os estilos css %>
    <%- defineContent('style') %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bars.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/9652765516.js"
      crossorigin="anonymous"
    ></script>
    <link rel="icon" type="imagem/png" href="/images/ic.png" />
  </head>
  <body class="accessibility">
    <header>
      <%# Inclui a Barra de Navegação %> 
      <%- include('header-unloged'); -%>
    </header>
    <main><%- defineContent('main') %></main>
    <footer>
      <label id="footer">© Copyright 2020 M3D</label>
    </footer>

    <%# Script de troca de tema %>
    <script type="text/javascript" src="/javascripts/accessibility.js"></script>
    
    <%# Insere os Scripts das Outras Views%>
    <%- script %>
  </body>
</html>
