<%- contentFor('style') %>
<link rel="stylesheet" type="text/css" href="/stylesheets/titleRequest.css" />

<%- contentFor('main') %>
<div class="content">
  <aside>
    <div class="information-header"></div>
    <div class="information-container">
      <% if(titlePending) { %>
        <h3>Administrador: sugestão de título enviado</h3>
        <div class="information">
          <p>Querido administrador, tenha certeza que os dados estão corretos antes de aceitá-los</p>
          <p>Sugestão: verifique as fontes e garanta que os links não estão quebrados</p>
          <p>Lembre-se: você pode editar os campos da forma que quiser, porém, tente deixar o mais fiel possível, dando credibilidade ao usuário colaborador</p>
        </div>
      <% } else { %>
      <h3>Informações</h3>
        <div class="information">
          <p>A inclusão de conteúdo no M3D é feita de forma fácil e rápida. Para isso basta preencher o formulário ao lado e aguardar o processamento do pedido por nossa equipe.</p>
          <p>Se não houver nenhum problema, este conteúdo estará disponível o mais breve possível, em nossa plataforma.</p>
        </div>
      <% } %>
    </div>
  </aside>
  <div class="content-form">
    <% if(titlePending) { %>
    <div id="notificationModal" class="modal">
      <div class="modal-wrapper">
        <div class="modal-content">
          <img class="check-circle" src="/images/check-circle.svg" />
          <p class="modal-text"></p>
          <button id="btnModal">Continuar</button>
        </div>
      </div>
    </div>
    <% } else { %>
    <div id="alertSuccess" class="alert-success" role="alert">
      <img src="/images/check-circle.svg">
      <span>Sugestão enviada com sucesso!</span>
    </div>
    <% } %>
    <div class="title-container">
      <% if(titlePending) { %>
        <h1 class="title">Validação de título enviado</h1>
      <% } else { %>
        <h1 class="title">Sugerir Título</h1>
      <% } %>
      
    </div>          
    <form id="titleForm" method="post">
      <fieldset>
        <div class="field-container">
          <label for="title">Título original</label>
          <input type="text" maxlength="50" name="title" id="title" requireed 
          <% if(titlePending) { %>
            value= "<%= titlePending.title %>"
          <% } %>
          />
          <span class="erro-msg" id="title-erro"></span>
        </div>

        <div class="field-container genre-content-type">
          <div class="field-genre">
            <label for="genre">Gênero</label><br>
            <select name="genre" id="genre" >
              <option value="">-</option>
              <% genres = [ "Ação", 
                            "Animação", 
                            "Aventura", 
                            "Comédia", 
                            "Documentário", 
                            "Fantasia",
                            "aroeste – Western",
                            "Ficção científica",
                            "Guerra",
                            "Romance",
                            "Suspense",
                            "Terror",
                            "Tragédia/Drama"];
              genres.forEach(genre => {  %>
                <option value="<%=genre%>"
                  <% if(titlePending && titlePending.genre === genre) { %>
                    selected
                  <% } %>
                  ><%=genre%></option>
              <% }); %>
            </select>
            <br><span class="erro-msg" id="genre-erro"></span>
          </div>
          <div class="field-content-type">
            <label>Tipo de conteúdo</label>
            <div class="radio-container">
              <input type="radio" id="filme" name="content_type" value="filme" requireed
              <% if(titlePending) { %>
                <% if(titlePending.type == "filme") { %>
                  checked
                <% } %>
              <% } %>
              >
              <label for="filme">Filme</label>
              <input type="radio" id="serie" name="content_type" value="serie" requireed
              <% if(titlePending) { %>
                <% if(titlePending.type == "serie") { %>
                  checked
                <% } %>
              <% } %>
              >
              <label for="serie">Série</label>
              <input type="radio" id="animacao" name="content_type" value="animacao" requireed
              <% if(titlePending) { %>
                <% if(titlePending.type == "animacao") { %>
                  checked
                <% } %>
              <% } %>
              >
              <label for="animacao">Animação</label>
              <br><span class="erro-msg" id="type-erro"></span>
            </div>
          </div>
        </div>
        <div class="field-container">
          <label for="description">Visão geral sobre o título</label>
          <textarea id="description" name="description" rows="8" > <%_ if(titlePending) { _%><%=titlePending.description_%>
            <%_ } _%> </textarea>
          <span class="erro-msg" id="description-erro"></span>
        </div>
        <div class="field-container running-time-release-date">
          <div class="field-running-time">
            <label for="running-time">Tempo de duração</label><br>
            <input type="time" name="running_time" id="running-time" requireed
            <% if(titlePending) { %>
              value= "<%= titlePending.running_time %>"
            <% } %>
            >
          <br><span class="erro-msg" id="time-erro"></span>
          </div>
          <div class="field-release-date">
            <label for="release-date">Data de estreia</label><br>
            <input type="date" name="release_date" id="release-date" requireed
            <% if(titlePending) { %>
              value= "<%= titlePending.release_date %>"
            <% } %>
            >
            <br><span class="erro-msg" id="date-erro"></span>
          </div>              
        </div>
        <div class="field-container">
          <label for="trailer-path">Link para o trailer</label>

          <input type="url" name="trailer_path" id="trailer-path"

          <% if(titlePending) { %>
            value= "<%= titlePending.trailer_path %>" 
          <% } else { %>
            required
          <% } %>
          />
        <span class="erro-msg" id="trailer-erro"></span>
        </div>
        <div class="field-container">
          <label for="poster-path">Link para imagem da capa</label>
          <input type="url" name="poster_path" id="poster-path" requireed
          <% if(titlePending) { %>
            value= "<%= titlePending.poster_path %>"
          <% } %>
          />
        <span class="erro-msg" id="poster-erro"></span>
        </div>
        <div class="field-container">
          <label for="backdrop-path">Link para imagem de fundo</label>
          <input type="url" name="backdrop_path" id="backdrop-path" requireed
          <% if(titlePending) { %>
            value= "<%= titlePending.backdrop_path %>"
          <% } %>
          />
        <span class="erro-msg" id="backdrop-erro"></span>
        </div>
      </fieldset>
      <% if(titlePending) { %>
        <button id="accBtn" type="submit" class="btn-submit">
          <span id="btnAccText">Aceitar</span>
          <img id="loadAccIcon" class="loading" alt="carregando" src="/images/loading.svg" />
        </button>
        <button id="rejBtn" type="submit" class="btn-reject">
          <span id="btnRejText">Recusar</span>
          <img id="loadRejIcon" class="loading" alt="carregando" src="/images/loading.svg" />
        </button>
      <% } else { %>
        <button id="subBtn" type="submit" class="btn-submit">
          <span id="btnSubText">Enviar</span>
          <img id="loadSubIcon" class="loading" alt="carregando" src="/images/loading.svg" />
        </button>
      <% } %>
    </form>
  </div>
</div>

<%# Script de controle assincrono %>
<script type="text/javascript" src="/javascripts/titleRequest.js"></script>