<%- contentFor('style') %>
<link rel="stylesheet" type="text/css" href="/stylesheets/titleRequest.css" />

<%- contentFor('main') %>
<div class="content">
  <aside>
    <div class="information-header"></div>
    <div class="information-container">
      <% if(titlePending) { %>
        <h3>Administrador: sugestão de filme enviado</h3>
        <div class="information">
          <p>Querido administrador, tenha certeza que os dados estão corretos antes de aceitá-los</p>
          <p>Sugestão: verifique as fontes e garanta que os links não estão quebrados</p>
          <p>Lembre-se: você pode editar os campos da forma que quiser, porém, tente deixar o mais fiel possível, dando credibilidade ao usuário colaborador</p>
        </div>
      <% } else { %>
      <h3>Informações</h3>
        <div class="information">
          <p>A inclusão de conteúdo no M3D é feita de forma fácil e rápida. Para isso basta preencher o formulário ao lado e aguardar o processamento do pedido por nossa equipe.</p>
          <p>Se não houver nenhum problema, este conteúdo estará disponível o mais breve possível, em nossa plataforma.</p>
        </div>
      <% } %>
    </div>
  </aside>
  <div class="content-form">
    <% if(notification) { %> 
    <div class="alert-success" role="alert">
      <img src="/images/check-circle.svg">
      <span>Sugestão enviada com sucesso!</span>
    </div>
    <% } %> 
    <div class="title-container">
      <% if(titlePending) { %>
        <h1 class="title">Validação de filme enviado</h1>
      <% } else { %>
        <h1 class="title">Sugerir Título</h1>
      <% } %>
      
    </div>          
    <form method="post">
      <fieldset>
        

        <div class="field-container">
          <label for="title">Título original</label>
          <input type="text" minlength="4" maxlength="50" name="title" id="title" required 
          <% if(titlePending) { %>
            value= "<%= titlePending.title %>"
          <% } %>
          />
        </div>


        <div class="field-container genre-content-type">
          <div class="field-genre">
            <label for="genre">Gênero</label><br>
            <select name="genre" id="genre" required>
              <% if(titlePending) { %>
                <option value="<%=titlePending.genre%>"><%=titlePending.genre%></option>
              <% } else { %>
                <option value="">-</option>
                <option value="Ação">Ação</option>
                <option value="Animação">Animação</option>
                <option value="Aventura">Aventura</option>
                <option value="Comédia">Comédia</option>
                <option value="Documentário">Documentário</option>
                <option value="Fantasia">Fantasia</option>
                <option value="Faroeste – Western">Faroeste – Western</option>
                <option value="Ficção científica">Ficção científica</option>
                <option value="Guerra">Guerra</option>
                <option value="Romance">Romance</option>
                <option value="Suspense">Suspense</option>
                <option value="Terror">Terror</option>
                <option value="Tragédia/Drama">Tragédia/Drama</option>
              <% } %>
              
            </select>
          </div>
          <div class="field-content-type">
            <label>Tipo de conteúdo</label>
            <div class="radio-container">
              <input type="radio" id="filme" name="content_type" value="filme" required
              <% if(titlePending) { %>
                <% if(titlePending.type == "filme") { %>
                  checked
                <% } %>
              <% } %>
              >
              <label for="filme">Filme</label>
              <input type="radio" id="serie" name="content_type" value="serie" required
              <% if(titlePending) { %>
                <% if(titlePending.type == "serie") { %>
                  checked
                <% } %>
              <% } %>
              >
              <label for="serie">Série</label>
              <input type="radio" id="animacao" name="content_type" value="animacao" required
              <% if(titlePending) { %>
                <% if(titlePending.type == "animacao") { %>
                  checked
                <% } %>
              <% } %>
              >
              <label for="animacao">Animação</label>
            </div>
          </div>
        </div>
        <div class="field-container">
          <label for="general-view">Visão geral sobre o título</label>
          <textarea id="general-view" name="description" minlength="20" rows="8" required>
            <% if(titlePending) { %>
              <%= titlePending.description %>
            <% } %>
          </textarea>
        </div>
        <div class="field-container running-time-release-date">
          <div class="field-running-time">
            <label for="running-time">Tempo de duração</label><br>
            <input type="time" name="running_time" id="running-time" required
            <% if(titlePending) { %>
              value= "<%= titlePending.running_time %>"
            <% } %>
            >
          </div>
          <div class="field-release-date">
            <label for="release-date">Data de estreia</label><br>
            <input type="date" name="release_date" id="release-date" required
            <% if(titlePending) { %>
              value= "<%= titlePending.release_date %>"
            <% } %>
            >
          </div>              
        </div>
        <div class="field-container">
          <label for="trailer-path">Link para o trailer</label>
          <input type="url" minlength="10" name="trailer_path" id="trailer-path" required
          <% if(titlePending) { %>
            value= "<%= titlePending.trailer_path %>"
          <% } %>
          />
        </div>
        <div class="field-container">
          <label for="poster-path">Link para imagem da capa</label>
          <input type="url" minlength="10" name="poster_path" id="poster-path" required
          <% if(titlePending) { %>
            value= "<%= titlePending.poster_path %>"
          <% } %>
          />
        </div>
        <div class="field-container">
          <label for="backdrop-path">Link para imagem de fundo</label>
          <input type="url" minlength="10" name="backdrop_path" id="backdrop-path" required
          <% if(titlePending) { %>
            value= "<%= titlePending.backdrop_path %>"
          <% } %>
          />
        </div>
      </fieldset>
      <% if(titlePending) { %>
        <input class="btn-submit" type="submit" value="Recusar">
        <input class="btn-submit" type="submit" value="Aceitar">
      <% } else { %>
        <input class="btn-submit" type="submit" value="Enviar">
      <% } %>
    </form>
  </div>
</div>

<%# Script de notificação%>
<% if(notification) { %> 
<script type="text/javascript">
  window.setTimeout(() => {
    const hint = document.querySelector("div.alert-success");
    hint.style.maxHeight = '0';
    hint.style.visibility = 'hidden';
  },5000);
</script>
<% } %>
