<%- contentFor('style') %>
<link rel="stylesheet" type="text/css" href="/stylesheets/details.css" />

<%- contentFor('main') %>
<div id="notificationModal" class="modal">
  <div class="modal-wrapper">
    <div class="modal-content">
      <img class="check-circle" src="/images/check-circle.svg" />
      <p id="modal-text" class="modal-text">.</p>
    </div>
  </div>
</div>
<div class="content-wrapper" style="<%= backdrop_style %>">
  <div class="content">
    <div class="poster">
      <img alt="<%= title %> poster" src="<%= poster_path %>" />
    </div>
    <div class="details">
      <h1 class="details-title">
        <%= title %> <span>(<%= release_year %>)</span>
      </h1>
      <span class="details-subtitle">
        <%= release_date %> (BR) &nbsp; &bull; &nbsp; <%= genre %> &nbsp; &bull;
        &nbsp; <%= running_time %>
      </span>
      <div class="details-actions">
        <div class="details-actions-rating" style="<%= rating_style %>">
          <svg width="84" height="84">
            <circle fill="#081C22" r="40" cx="42" cy="42" />
            <circle class="ring" stroke="#1C4027" stroke-width="4" fill="transparent" r="32" cx="42" cy="42" />
            <circle class="progress-ring" stroke="#21D07A" stroke-width="4" fill="transparent" r="32" cx="42" cy="42" />
            <text x="42" y="49" text-anchor="middle" stroke="#ffffff" stroke-width="2px" fill="#ffffff"
              font-family="Source Sans Pro, sans-serif" font-size="24px" id="avaliation-mean">
              <%= mean %>
            </text>
          </svg>
          <div class="details-actions-rating-text">
            Avaliação<br />
            dos<br />
            usuários
          </div>
        </div>
        <% if(user) {%> <% if(titleIsInUserGallery) { %>
        <div id="details-actions-button" class="details-actions-button" onclick="removeTitleFromUserGallery(<%= id %>)">
          <i id="details-actions-button-icon" class="fas fa-times"></i>
          <div id="details-actions-button-tooltip-gallery" class="details-actions-button-tooltip-gallery">
            Remover da galeria
          </div>
        </div>
        <% } else {%>
        <div id="details-actions-button" class="details-actions-button" onclick="addTitleToUserGallery(<%= id %>)">
          <i id="details-actions-button-icon" class="fas fa-list"></i>
          <div id="details-actions-button-tooltip-gallery" class="details-actions-button-tooltip-gallery">
            Adicionar à galeria
          </div>
        </div>
        <% } %>
        <div class="details-actions-button">
          <i class="fas fa-star"></i>
          <div class="details-actions-button-tooltip-favorites">
            <div class="slidecontainer">
              <input type="range" min="0" max="100" value="<%= aval %>" class="slider" id="myRange" />
              <span>Nota: <span id="demo"></span></span>
            </div>
          </div>
        </div>
        <div class="details-actions-button-tooltip-favorites">
          <span>70%</span>
          <svg width="180" height="10">
            <line x1="0" y1="5" x2="180" y2="5" stroke-width="6" stroke="#a2a2a2" />
            <line id="fav" x1="0" y1="5" x2="126" y2="5" stroke-width="6" stroke="#ffffff" />
          </svg>
        </div>
        <% } %>
        <a target="_blank" rel="noopener noreferrer" href="<%= trailer_path %>">
          <div class="details-actions-trailer">
            <i class="fas fa-play"></i>Reproduzir trailer
          </div>
        </a>
      </div>
      <div class="details-sinopsis">
        <h2 class="details-sinopsis-title">Sinopse</h2>
        <p class="details-sinopsis-text"><%= description %></p>
      </div>
    </div>
  </div>
</div>
<div class="comments">
  <h2>Comentários</h2>
  <% if(user) {%>
  <div class="new-comment-container">
    <form id="new-comment-form" name="new-comment-form">
      <label for="new-comment">Faça uma comentário!</label>
      <textarea id="new-comment" name="new-comment" placeholder="O que achou desse filme?"></textarea>
    </form>
    <button type="submit" form="new-comment-form" value="Submit">Enviar</button>
  </div>
  <% } %>
  <%  if(!commentaries.length) { %>
  <p id="no-comments-added-text">Nenhum comentário adicionado.</p>
  <% } %>
  <% for(var i=0; i < commentaries.length; i++) { %>
  <div class="comment-container">
    <div class="comment-content">
      <h3><%= commentaries[i].profile.name %></h3>
      <span><%= commentaries[i].date %></span>
      <p><%= commentaries[i].text %></p>
      <% if (user && user.role == 'ADMIN') {%>
      <i id="delete-commentary-icon" class="fas fa-trash" onclick="removeCommentary(<%= commentaries[i].id %>)"></i>
      <% } %>
    </div>
  </div>
  <% } %>
</div>

<script type="text/javascript" src="/javascripts/details.js"></script>
<script>
  var slider = document.getElementById("myRange");
  var output = document.getElementById("demo");
  var initialValue = <%= aval %>;

  output.innerHTML = parseFloat(initialValue) / 10;
  slider.oninput = async function () {
    output.innerHTML = parseFloat(this.value) / 10;
    var title_id = <%= id %>
      fetch('/title/avaliation', {
        method: 'Post',
        body: JSON.stringify({
          entry: parseFloat(this.value) / 10,
          title_id: title_id.toString(),
        }),
        headers: { 'Content-type': 'application/json' }
      }).then(response => {
        if (!response.ok) {
          throw new Error('Erro de conexão!');
        }
        return response.json();
      }).then(response => {
        var avaliationMeanText = document.querySelector("#avaliation-mean");
        var avaliationMeanBar = document.querySelector(".details-actions-rating");
        avaliationMeanText.innerHTML = response.mean;
        const ratingValue = (1 - response.mean / 10) * 201.06;
        const ratingStyle = `stroke-dashoffset: ${ratingValue}`;
        avaliationMeanBar.style = ratingStyle;
      })
  }
</script>