<%- contentFor('style') %>
<link rel="stylesheet" type="text/css" href="/stylesheets/titleRequest.css" />

<%- contentFor('main') %>
<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
