<%- contentFor('style') %>
<link rel="stylesheet" type="text/css" href="/stylesheets/registration.css" />

<%- contentFor('main') %>
<div class="content">
  <div class="slider-wrapper">
    <ul class="slider">
      <li>
        <input type="radio" class="mySlides" id="slide1" name="slide" checked>
        <label for="slide1"></label>
        <img src="/images/slide1.png" loading="lazy" alt="Avalie filmes e séries">
        </li>
      <li>
        <input type="radio" class="mySlides" id="slide2" name="slide">
        <label for="slide2"></label>
        <img src="/images/slide2.png" loading="lazy" alt="Armazene seus filmes favoritos em sua galeria" />
        </li>
        <li>
          <input type="radio" class="mySlides" id="slide3" name="slide">
          <label for="slide3"></label>
          <img src="/images/slide3.png" loading="lazy" alt="Dê sua opinião sobre os títulos"/>
        </li>
      </ul>
  </div>
  <div id="notificationModal" class="modal">
    <div class="modal-wrapper">
      <div class="modal-content">
        <img class="check-circle" src="/images/check-circle.svg" />
        <p class="modal-text">Cadastro Realizado!</p>
        <button id="btnModal">Continuar</button>
      </div>
    </div>
  </div>
  <div class="content-form">
    <div class="title-wrapper">
      <h1 class="title">Crie uma conta</h1>
      <p>Criar uma conta é fácil e gratuito. Comece preenchendo o formulário abaixo.</p>
    </div>          
    <form method="post" id="registrationForm">
      <fieldset>
        <div class="field-wrapper">
          <label for="name">Nome</label>
          <input type="text" minlength="4" maxlength="50" name="name" id="name" value="<%= inputs.name %>" required />
          <span class="erro-msg" id="name-erro"><%= erros.name %> </span>
        </div>
        <div class="field-wrapper">
          <label for="password">Senha (8 caractéres no mínimo)</label>
          <input type="password" minlength="8" maxlength="50" name="userPassword" id="password" required />
          <span class="erro-msg" id="password-erro"><%= erros.userPassword %></span>
        </div>
        <div class="field-wrapper">
          <label for="password-confirm">Confirme sua senha</label>
          <input type="password" minlength="8" maxlength="50" name="password_confirm" id="password-confirm" required />
          <span class="erro-msg" id="password-confirm-erro"><%= erros.password_confirm %></span>
        </div>
        <div class="field-wrapper">
          <label for="email">E-mail</label>
          <input type="email" name="userEmail" id="email" placeholder="seuemail@exemplo.com" value="<%= inputs.email %>" required />
          <span class="erro-msg" id="email-erro"><%= erros.userEmail %></span>
        </div>
      </fieldset>
      <p>Ao clicar no botão "Registrar" abaixo, concordo com os termos de uso e a política de privacidade do M3D.</p>
      <button id="regBtn" type="submit" class="btn-submit">
        <span id="btnRegText">Registrar</span>
        <img id="loadRegIcon" class="loading" alt="carregando" src="/images/loading.svg" />
      </button>
    </form>
  </div>
</div>

<%# Script do slider e validador do formualário %>
<script type="text/javascript" src="/javascripts/registrations.js"></script>